<div class="message-container">
  <div class="message-header">
    <h3>Live Alerts</h3>
  </div>
  <div id="alerts-message-content" style="display: block;">
  </div>
</div>

<style>
  .message-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow:scroll;
  }

  .message-header {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }

  .message-header h3 {
    margin: 0;
  }

  .message-content {
    padding: 10px;
  }

  .alerts-message-bubble {
    background-color: #ADDFFF;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .red-bubble {
    background-color: #FF7F7F;
  }

  .pink-bubble {
    background-color: #FFD1DF;
  }

  .toggle-icon {
    float: right;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

  $( document ).ready(function(){
    setTimeout(fetchdata(true),100000); 
    console.log("Begin Polling");
  });

  function fetchdata(no_delay){ 
    var url;
    if (no_delay) {
      url = '/alerts';
    } else {
      url = '/alerts?delay=1';
    };
    $.ajax({ 
      url: url,
      type: 'get',
      success: function(data){
       // Perform operation on return value
        if (!$.isEmptyObject(data)) {
          jQuery.each( data, function( i, val ) {
            appendAlertBubble(val);
          });
        };
       }, 
       complete:function(data){ 
         setTimeout(fetchdata,1000); 
       } 
    }); 
  } 
  
  function appendAlertBubble(data) {
    message = `${data.created_at}: ${data.message}`
    var newDiv = document.createElement("div");
    newDiv.classList.add('alerts-message-bubble');
    newDiv.style.color = data.level;
    var newContent = document.createTextNode(message);
    newDiv.prepend(newContent);

    document.getElementById('alerts-message-content').prepend(newDiv);
  };

</script>