<div class="wrapper">
  <table>
  <td>
    <%= render partial: '/shared/live_messages' %>
  </td>
  <td>
    <%= render partial: '/shared/live_alerts' %>
  </td>
  </table>
</div>
<style>
  td {
    max-width: 500px;
    vertical-align:top;
  }
</style>
