<div class="wrapper">
  <table>
  <td>
    <!-- <%= render partial: '/shared/live_alerts', locals: { title: "Live Alerts", messages: @messages } %> -->
  </td>
  <td>
    <%= render partial: '/shared/live_messages', locals: { title: "Live Inventory Updates", messages: @messages } %>
  </td>
  <td>
    <%= render partial: '/shared/live_alerts', locals: { title: "Live Alerts", messages: @messages } %>
  </td>
  </table>
</div>
<style>
  td {
    max-width: 500px;
    vertical-align:top;
  }
</style>
